.s-submit:hover{
    transition: all ease-in-out .2s;
}
.s-icon-btn{
    width: 60px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.s-icon-user{
     background-image: url('/assets/Icons/login/user.png');
}
.s-icon-password{
     background-image: url('/assets/Icons/login/password.png');
}
.s-no-rounded-right{
   border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.s-no-rounded-left{
   border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
