<div id='blogPageHolder' class='container-fluid s-supp-bg-4 p-4 d-flex flex-column'>
    <!-- Hot topics  -->
    <div class='rtl container my-5'>
        <!-- Head -->
        <div class='row justify-content-md-start justify-content-center'>
            <div class='px-5 s-white-50-bg s-btn-tem-h d-inline-flex align-items-center rounded'>
                <i class='s-new-icon s-icons'></i>
                <p class='h3 m-0 pl-2 s-dark2-cr'><b>المواضيع </b> <span style='font-weight: normal;'>الجديدة</span></p>
            </div>
        </div>
        <!-- Content -->
        <div *ngIf='topics?.length > 4'>
            <div *ngIf='hotTopicsKey' class='row my-4'>
                <!-- New Topics  -->
                <div class='col-lg-6 col-12 my-3 s-hot-topic'>
                    <div [routerLink]='"/blog/" + hotTopics[0]._id' class='s-topic-img-box s-hot-holder h-100 w-100 rounded s-white-50-bg d-flex justify-content-center align-items-center'
                    [ngStyle]="hotTopics[0].topic_image != undefined ? {   
                        'background-image' :'url('+ blog_topics_service.getUrl(hotTopics[0].topic_image)  + ')'
                        } : false">
                        <div class='py-2 px-5 s-opc-8 s-main-bg d-inline-flex align-items-center rounded'>
                            <p class='h4 m-0 s-dark2-cr'>{{hotTopics[0].topic_name | slice:0:20}} <span *ngIf='hotTopics[0].topic_name.length > 20'>...</span></p>
                        </div>
                    </div>
                </div>
                <!-- hot Small  -->
                <!-- Small Col 1 -->
                <div class='col-lg-3 col-md-6 col-12 my-3 s-hot-topic'>
                    <!-- 1 -->
                    <div class='row h-50 w-100 pb-3 m-0'>
                        <div [routerLink]='"/blog/" + hotTopics[1]._id' class='s-topic-img-box s-hot-holder h-100 w-100 rounded s-white-50-bg d-flex justify-content-center align-items-center'
                        [ngStyle]="hotTopics[1].topic_image != undefined ? {   
                        'background-image' :'url('+ blog_topics_service.getUrl(hotTopics[1].topic_image)  + ')'
                        } : false">
                            <div class='py-2 px-4 s-opc-8 s-main-bg d-inline-flex align-items-center rounded'>
                                <p class='h5 m-0 s-dark2-cr'>{{hotTopics[1].topic_name | slice:0:20}} <span *ngIf='hotTopics[1].topic_name.length > 20'>...</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class='row h-50 w-100 pt-3 m-0'>
                        <div [routerLink]='"/blog/" + hotTopics[3]._id' class='s-topic-img-box s-hot-holder h-100 w-100 rounded s-white-50-bg d-flex justify-content-center align-items-center'
                        [ngStyle]="hotTopics[3].topic_image != undefined ? {   
                        'background-image' :'url('+ blog_topics_service.getUrl(hotTopics[3].topic_image)  + ')'
                        } : false">
                            <div class='py-2 px-4 s-opc-8 s-main-bg d-inline-flex align-items-center rounded'>
                                <p class='h5 m-0 s-dark2-cr'>{{hotTopics[3].topic_name | slice:0:20}} <span *ngIf='hotTopics[3].topic_name.length > 20'>...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Small Col 2 -->
                <div class='col-lg-3 col-md-6 col-12 my-3 s-hot-topic'>
                    <!-- 3 -->
                    <div class='row h-50 w-100 pb-3 m-0'>
                        <div [routerLink]='"/blog/" + hotTopics[2]._id' class='s-topic-img-box s-hot-holder h-100 w-100 rounded s-white-50-bg d-flex justify-content-center align-items-center'
                        [ngStyle]="hotTopics[2].topic_image != undefined ? {   
                        'background-image' :'url('+ blog_topics_service.getUrl(hotTopics[2].topic_image)  + ')'
                        } : false">
                            <div class='py-2 px-4 s-opc-8 s-main-bg d-inline-flex align-items-center rounded'>
                                <p class='h5 m-0 s-dark2-cr'>{{hotTopics[2].topic_name | slice:0:20}} <span *ngIf='hotTopics[2].topic_name.length > 20'>...</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class='row h-50 w-100 pt-3 m-0'>
                        <div [routerLink]='"/blog/" + hotTopics[4]._id' class='s-topic-img-box s-hot-holder h-100 w-100 rounded s-white-50-bg d-flex justify-content-center align-items-center'
                        [ngStyle]="hotTopics[4].topic_image != undefined ? {   
                        'background-image' :'url('+ blog_topics_service.getUrl(hotTopics[4].topic_image) + ')'
                        } : false">
                            <div class='py-2 px-4 s-opc-8 s-main-bg d-inline-flex align-items-center rounded'>
                                <p class='h5 m-0 s-dark2-cr'>{{hotTopics[4].topic_name | slice:0:20}} <span *ngIf='hotTopics[4].topic_name.length > 20'>...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controller Bar -->
    <div class='container mb-4 position-sticky s-tool-bar-holder'>
        <div class='row m-0 shadow-sm rounded'>
            <!-- Tag name -->
            <div class='col-md-2 col-12 p-0 s-supp-bg-3 rounded-left'>
                <button
                    class='btn s-main-bg s-supp-cr-2 rounded-left py-2 px-4 mr-3 s-selected-categ-btns w-100'
                    [title]='tagName'>{{tagName}}</button>
            </div>
            <!-- tags btns -->
            <div class='col-md-6 col-12 p-0 my-2 my-md-0 s-supp-bg-3 position-relative'>
                <div class='position-absolute s-supp-bg-3 s-dash d-none d-md-block'></div>
                <div class='rtl s-no-slider s-categories-holder d-flex align-items-center'>
                    <div class='s-supp-bg-3 s-dash-right d-none d-md-block px-3'></div>
                    <button id='allTagsBtn' #allBtn (click)='selectAllTags(); styleTagBtns(allBtn)' data-btn='tag-btn'
                        class='btn s-supp-bg-4 s-supp-cr-2 rounded py-2 px-4 mr-3 s-categories-btns s-selected-tag-btn'>الكل</button>
                    <button #tagBtn *ngFor='let tag of tags let i = index' data-btn='tag-btn'
                        (click)='selectTag(tag._id, tag.tag_name); styleTagBtns(tagBtn)'
                        class='btn s-supp-bg-4 s-supp-cr-2 rounded py-2 px-4 mr-3 s-categories-btns text-nowrap'>{{tag.tag_name}}</button>
                    <div class='s-supp-bg-3 s-dash-right d-none d-md-block pr-3'></div>
                </div>
                <div class='position-absolute s-supp-bg-3 s-dash-right d-none d-md-block'></div>
            </div>
            <!-- search Bar -->
            <div class='col p-0 s-supp-bg-3 rounded-right'>
                <div class="input-group md-form form-sm form-2 pl-0 s-white-50-bg rounded-right">
                    <input class="text-right form-control my-0 py-4 px-4 s-white-50-bg border-0 s-serach-bar " type="text" placeholder="...بحث"
                        aria-label="Search" [(ngModel)]='searchValue'>
                    <div class="input-group-append rounded-right">
                        <button class="btn input-group-text s-search-btn s-white-50-bg border-0 rounded-right"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All Topics -->
    <div *ngIf='!selectedTopicsByTag' class='rtl container mt-3 mb-5'>
        <div class='row px-3~'>
            <div *ngFor='let topic of topics | filter:searchValue' class='col-lg-4 col-md-6 col-12 my-3'>
                <!-- topic Holder -->
                <div [routerLink]='"/blog/" + topic._id' class='rounded s-topic-box-holder w-100 s-white-50-bg~'>
                    <!-- image -->
                    <div class='rounded s-white-50-bg s-topic-img-box mb-2'
                    [ngStyle]="topic.topic_image != undefined ? {   
                    'background-image' :'url('+ blog_topics_service.getUrl(topic.topic_image) + ')'
                    } : false">
                    </div>
                    <!-- Title -->
                    <p class='h4 m-0 pt-3 px-3 pb-4 text-center text-md-right'>{{topic.topic_name | slice:0:20}}<span *ngIf='topic.topic_name.length > 20'>...</span></p>
                    <!-- Description -->
                    <p class='s-supp-cr-1 px-3 pb-3 text-center text-md-right' innerHTML='{{topic.topic_content| slice:0:400}} ...'></p>
                </div>
            </div>
            <div *ngIf='!topics' class='col-12 s-no-topics d-flex justify-content-center align-items-center'>
                <p class='display-4 text-center s-supp-cr-3'> ! لا يوجد مقالات</p>
            </div>
        </div>
    </div>
    <!-- Topics By Tags -->
    <div *ngIf='selectedTopicsByTag' class='rtl container mt-3 mb-5'>
        <div class='row px-3~'>
            <div *ngFor='let topic of selectedTopicsByTag | filter:searchValue' class='col-lg-4 col-md-6 col-12 my-3'>
                <!-- topic Holder -->
                <div [routerLink]='"/blog/" + topic._id' class='rounded s-topic-box-holder w-100 s-white-50-bg~'>
                    <!-- image -->
                    <div class='rounded s-white-50-bg s-topic-img-box mb-2'
                    [ngStyle]="topic.topic_image != undefined ? {   
                    'background-image' :'url('+ blog_topics_service.getUrl(topic.topic_image)  + ')'
                    } : false">
                    </div>
                    <!-- Title -->
                    <p class='h4 m-0 pt-3 px-3 pb-4 text-center text-md-right'>{{topic.topic_name | slice:0:20}}<span *ngIf='topic.topic_name.length > 20'>...</span></p>
                    <!-- Description -->
                    <p class='s-supp-cr-1 px-3 pb-3 text-center text-md-right' innerHTML='{{topic.topic_content| slice:0:400}}'></p>
                </div>
            </div>
            <div *ngIf='selectedTopicsByTag == ""' class='col-12 s-no-topics d-flex justify-content-center align-items-center'>
                <p class='display-4 text-center s-supp-cr-3'> ! لا يوجد مقالات</p>
            </div>
        </div>
    </div>
</div>