<div id='dashBoardHolder' class='container-fluid s-dark-bg p-4 d-flex flex-column'>
    <div class='container'>
        <!-- Prdocut & Categories -->
        <div class='row mt-4'>
            <div class='col-lg-6 col-12 mt-1 order-lg-1 order-2'>
                <div routerLink='/admin/categories' class="s-category-box s-categ-main-box-icon s-dark2-bg rounded s-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div
                        class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h1 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>All Categories</p>
            </div>
            <div class='col-lg-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/products' class="s-category-box s-prod-main-box-icon s-dark2-bg rounded s-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div
                        class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h1 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>All Products</p>
            </div>
        </div>
        <!-- Pages -->
        <div class='row my-4'>
            <!-- Category Page -->
            <div class='col-sm-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/category-page'
                    class="s-category-box s-categ-box-icon s-dark2-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>Category</p>
            </div>
            <!-- Product Page -->
            <div class='col-sm-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/product-page'
                    class="s-category-box s-prod-box-icon s-dark2-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>Product</p>
            </div>
        </div>
        <div class='row my-4'>
            <!-- home -->
            <div class='col-lg-3 col-sm-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/home' class="s-category-box s-home-box-icon s-dark2-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div
                        class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>Home</p>
            </div>
            <!-- about -->
            <div class='col-lg-3 col-sm-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/about' class="s-category-box s-about-box-icon s-dark2-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div
                        class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>About</p>
            </div>
            <!-- Contact -->
            <div class='col-lg-3 col-sm-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/contact' class="s-category-box s-contact-box-icon s-dark2-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div
                        class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>Contact</p>
            </div>
            <!-- blog -->
            <div class='col-lg-3 col-sm-6 col-12 my-1 order-lg-1 order-2'>
                <div routerLink='/admin/blog/all' class="s-category-box s-blog-box-icon s-dark2-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div
                        class='s-category-box-obacity rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>Blog</p>
            </div>
        </div>
        <!-- create New Account -->
        <div class='row mt-4'>
            <div class='col mt-1 order-lg-1 order-2'>
                <div routerLink='/admin/signup' class="s-category-box s-new-admin-box-icon s-admin-box s-green-bg rounded s-small-box mx-1 my-2 d-flex justify-content-center align-items-center p-1"
                    data-toggle="modal" data-cat='addCat' data-target="#exampleModalCenter">
                    <div class='s-category-box-obacity2 rounded d-flex justify-content-center align-items-center'>
                    </div>
                </div>
                <p class='h3 mt-3 mb-4 text-center s-supp-cr-2 text-uppercase'>Create New Admin</p>
            </div>
        </div>
    </div>

</div>